POSTGRES_DB=receiptradar
POSTGRES_USER=receiptradar
POSTGRES_PASSWORD=CHANGEME_STRONG
POSTGRES_PORT=5432

REDIS_PORT=6379
REDIS_PASSWORD=CHANGEME_STRONG

MINIO_ROOT_USER=receiptradar
MINIO_ROOT_PASSWORD=CHANGEME_STRONG
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

RABBITMQ_DEFAULT_USER=receiptradar
RABBITMQ_DEFAULT_PASS=CHANGEME_STRONG
RABBITMQ_PORT=5672
RABBITMQ_CONSOLE_PORT=15672
