PGHOST=localhost
PGPORT=5432
PGUSER=receiptradar
PGPASSWORD=CHANGEME_STRONG
PGDATABASE=receiptradar

RABBITMQ_URL=amqp://receiptradar:CHANGE_ME@localhost:5672
RECEIPT_QUEUE=receipt_jobs
AI_GATEWAY_URL=http://localhost:3001
RECEIPT_SCAN_MIN_QUALITY=0.65
HEALTH_PORT=4002
