PGHOST=127.0.0.1
PGPORT=5432
PGUSER=receiptradar
PGPASSWORD=CHANGEME_STRONG
PGDATABASE=receiptradar

RABBITMQ_URL=amqp://receiptradar:CHANGE_ME@127.0.0.1:5672
RECEIPT_QUEUE=receipt_jobs
AI_GATEWAY_URL=http://127.0.0.1:3001
RECEIPT_SCAN_MIN_QUALITY=0.65
RECEIPT_SCAN_QUALITY_MIN=0.52
RECEIPT_PROCESSED_CONFIDENCE_MIN=0.62
HEALTH_PORT=4002
