// Shared Flutter build defaults.
// Generated.xcconfig (if present) overrides these values.

FLUTTER_APPLICATION_PATH=$(SRCROOT)/..
FLUTTER_TARGET=lib/main.dart
FLUTTER_BUILD_DIR=build
FLUTTER_BUILD_NAME=1.0.0
FLUTTER_BUILD_NUMBER=1

COCOAPODS_PARALLEL_CODE_SIGN=true
DART_OBFUSCATION=false
TRACK_WIDGET_CREATION=true
TREE_SHAKE_ICONS=false
PACKAGE_CONFIG=.dart_tool/package_config.json

#include? "Generated.xcconfig"
